<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
    <link href="static/amadon_app/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/amadon_app/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <h1>Coding Dojo Store</h1>
        </div>
        <div class="row">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Checkout</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in products %}
                    <tr>
                        <form action="/buy" method="POST">
                            {% csrf_token %} 
                            <input type="hidden" name="product_id" value="{{element.id}}">
                            <th scope="row">{{ element.name }}</th>
                            <td>${{ element.price }}</td>
                            <td><select name ="quantity" value="quantity" class="frms form-control form-control-sm">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select></td>
                            <td><button type="submit" class="btn btn-secondary btn-sm">Checkout</button></td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>